# -----------------------------
# IDE / Editor files
# -----------------------------
.idea/
.vscode/
*.iml

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Node / Frontend
# -----------------------------
node_modules/
dist/
build/
.env

# -----------------------------
# Java / Backend
# -----------------------------
target/
*.log

# -----------------------------
# Docker
# -----------------------------
*.tar

# -----------------------------
# Temporary files
# -----------------------------
tmp/
temp/
